{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_sidebar_search %}
{% endblock %}


{% block side_bar_nav %}
    {{ knp_menu_render('sonata_admin_sidebar', {template: sonata_admin.adminPool.getTemplate('knp_menu_template')}) }}
{% endblock side_bar_nav %}

{% block side_bar_after_nav %}
    {#<p class="text-center"><a href="#">Route name</a></p>#}
{% endblock %}